@{
    ViewData["Title"] = "Create";
}

<h1>Add New Student</h1>

<form method="post">
    <div class="mb-3">
        <label>CGPA</label>
        <input type="text" name="Cgpa" placeholder="Enter CGPA (e.g., 3.8)" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Department</label>
        <input type="text" name="Departments" placeholder="Enter Department (e.g., CSE,bba,)" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>Gender</label>
        <input type="text" name="Gender" placeholder="Enter Gender (e.g., Male ,Female)" class="form-control" required />
    </div>


    <input type="submit" value="Save Student" class="btn btn-primary" />
</form>